<div class="col-md-8">
    <h2> Restaurant Details </h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants">
                <td>{{restaurant.id}}</td>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.location}}</td>
                <td>{{restaurant.image}}</td>
                <td><button class="btn btn-danger" (click)="deleteProfile(restaurants)">Delete</button></td>
                <td><button class="btn btn-warning" routerLink = "update/id">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>